#map {
  height: 500px;
}

.map-container {

}

#concepts {
  height: 450px;
  overflow-y: scroll;
}

.concepts-container {
  background-color: #DDE681;
}

.concept-panel {
  background-color: #EBEBEB;
}

#entities {
  height: 450px;
  overflow-y: scroll;
}

.entities-container {
  background-color: #87D5EB;
}

.entities-container > h2 {
  font-size: 1.75em;
}

.entity-panel {
  background-color: #EBEBEB;
}

.scroll-icon {
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.leaflet-div-icon {
  background-color: #900021;
  border-radius: 50%;
  border-color: #ccc;
}
